*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    height: auto;
    width: 80%;
    margin: 0 auto;
}
.col-1{ width: 8.33%}
.col-2{ width: 16.66%}
.col-3{ width: 24.99%}
.col-4{ width: 33.32%}
.col-5{ width: 41.65%}
.col-6{ width: 49.98%}
.col-7{ width: 58.31%}
.col-8{ width: 66.64%}
.col-9{ width: 74.97%}
.col-10{ width: 83.3%}
.col-11{ width: 91.63%}
.col-12{ width: 100%}

[class*='col-']{
    float: left;
    border: 1px solid red;
}
.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.header-height{ height: 200px}
.menu-height{height: 50px}
.content-height{height: 600px}
.big-fotter-height{height: 250px}
.fotter-height{height: 40px}


@media screen and (max-width: 500px){
    .color{
        height: 200px;
        width: 600px;
        background-color: red;
    }

    [class*='col-']{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    .color{
        height: 200px;
        width: 600px;
        background-color: red;
    }
}


/*@media screen and (min-width: 780px) and (max-width: 820px){*/
    /*.color{*/
        /*height: 200px;*/
        /*width: 600px;*/
        /*background-color: red;*/
    /*}*/
/*}*/